
body {
  background-image: url('https://s3-alpha-sig.figma.com/img/ac64/0bc5/818cc350d85ac3291dcbbefee4201322?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=eKmy5~~rCSPORa20Sq2NPB7FE56uoO~Rs7LmRYZ-HgwU2Jr8etuwWMYGjg8XAdeo8MLMa5mIb590OcURfW2DVyFeax47--ZLkh4lAHO9DJmTwkJN~Fbe5IS0mkTs1MtOyN6ey-ypvErXrNoX1c90OII-TGEMrBRPOvqfRsmgcJmWp-K08sENuvcBsUtmrYITPnbe4163GzWdl8SzGtz826~NmKYmSlcNkPLnSGeJajJHjR8YFkQGYHxH3lDm~U4dzCap6SzWJDJsm35k02V3zPhqFK3E~Xv7vhRCgVc0hUPQG6kPhRwcUFh9AVSmQSY4NzUaZcoFmcnFORtm~gn76A__');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  font-family: Arial, sans-serif; /* Cambia según tus preferencias */
  
}

html, body {
  height: 100%;
}
